.nbar{
  text-align: center;
  background-color:rgb(248, 235, 207);
  padding: 6%;
}

.total {
  width: 60%;
  height:80% ;
  border: solid rgb(248, 235, 207) 10px;
  padding: 5px;
  background-color: rgb(248, 235, 207);
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
}

.order-bottom {
  display: flex;
  align-items: flex-end;
}
