#pig{
  // position: absolute;
  width: 100%;
  height: 300px;
  // left: 0px;
  top: 0px;
  position: relative;
}

  .arrow-back {
    position: absolute;
    font-size: 50px;
    left: 16px;
    top: 16px;
    z-index: 3;
    color: #000;
  }

.bakery_card {
  margin-left: 16px;
  position: relative;
  border-radius: 32px 32px 4px 4px;

  h1 {
    font-weight: 800;
    padding-top: 30px;
    text-transform: uppercase;
  }

  p {
    font-weight: lighter;
  }
}

.card-product {
  margin: 30px;
  display: flex;
  border-radius: 8px;
  box-shadow: 3px 3px 10px $troisieme-color;
  position: relative;

  .add-product {
    height: 21px;
    width: 40px;
    border: 1px solid $troisieme-color;
    border-radius: 8px;
    color: $secondary-color;
    position: absolute;
    right: 10px;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-product {
    width: 150px;
    height: 120px;
      img {
        border-radius: 8px 0 0 8px;
        width: 100%;
        height:100%;
        background-size: cover;
      }
  }


  .card-product-infos {
    width: 100%;
    // background-color: yellow;
    padding-left: 18px;
    position: relative;

    h2 {
      font-weight: 600;
    }

    .product-detail {
      font-weight: 200;

      p {
        margin-bottom: 0;
      }
    }

    .product-price {
      font-weight: 600;
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      p{
        margin-top: 8px;
      }
    }
  }
}
