.nbar{
  text-align: center;
  background-color:rgb(248, 235, 207);
}

.total {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(248, 235, 207) 10px;
  padding: 5px;
  background-color: rgb(248, 235, 207);
}
