.nbar{
  text-align: center;
  background-color:rgb(248, 235, 207);
  padding: 6%;
}

.total {
  box-sizing: content-box ;
  width: 50%;
  height:80% ;
  border: solid rgb(248, 235, 207) 10px;
  padding: 5px;
  background-color: rgb(248, 235, 207);
}
