#pig{
  position: absolute;
  width: 390px;
  height: 237px;
  left: 0px;
  top: 102px;
}
.bakery_card {
  padding-left: 10%;
  position: absolute;
  width: 361px;
  height: 60px;
  left: -35px;
  top: 345px;

}

.card-product{
  padding-left: 30%;
  position: absolute;
  width: 20px;
  height: 60px;
  top: 430px;
  right: 90%;
  display: flex;
  filter: drop-shadow(3px 3px 10px #d6c9bb);
  // box-shadow: 10px 5px 5px red;

}

.pic{
  width: 300px;
  height: 120px;
  border-radius: 3%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}
