<nav class="bottom_navbar">
  <ul>
    <li>
      <a href="#" class="active">
        <ion-icon name="home" ></ion-icon>
      </a>
    </li>
    <li>
      <a href="<%= bakeries_path %>">
        <ion-icon name="search"></ion-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <ion-icon name="cart"></ion-icon>
      </a>
    </li>
    <li>
      <a href="<%= user_session_path %>">
        <ion-icon name="person"></ion-icon>
      </a>
    </li>
  </ul>
</nav>
