<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "logo-camilo" do %>
      <%= image_tag "logo-camilo.svg" %>
    <% end %>
  </div>
</div>
