<div class="banner"><h1>My order</h1></div>

<% current_user.current_order.products.each do |product| %>
  <div class="card-product">
      <%= image_tag "bakpic.jpg",class: "pic" %>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.details%></p>
      <p>  <strong><%= product.price %> CHF</strong></p>
    </div>
  </div>
<% end %>
