:root {
  --color-primary: #FFEDDB;
}

.button-add {
  height: 30px;
  width: 58px;
  position: absolute;
  top: 85px;
  right: 16px;
  background-color: #fff;
  box-shadow: 0px -8px 24px 0px #FFEDDB inset;
  border-radius: 20px;
    p{
      font-size: 14px;
      color: #000;
      opacity: 0.7;
      justify-content: center;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
    }
}

// Button in my_order (button pay with)
.disply-button-stripe {
  display: flex;
  justify-content: center;
  .button-pay-stripe {
    position: fixed;
    bottom:5rem;
    .stripe-button-el {
      border: none !important;
      background-image: none;
      border-radius: 8px;
        span {
          margin: 0 !important;
          display: flex !important;
          align-items: center;
          justify-content: center;
          width: 80vw;
          height: 3rem;
          margin: 0 16px;
          background-color: $brown-color !important;
          background-image: none;
          border: none !important;
          font-size: 20px;
        }
      }
  }
}
