:root {
  --color-primary: #FFEDDB;
}

.button-add {
  height: 30px;
  width: 58px;
  position: absolute;
  top: 85px;
  right: 16px;
  background-color: #fff;
  box-shadow: 0px -8px 24px 0px #FFEDDB inset;
  border-radius: 20px;
    p{
      font-size: 14px;
      color: #000;
      opacity: 0.7;
      justify-content: center;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
    }
}

.button-pay-stripe {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  // padding-top: -20%;
    .stripe-button-el {
      border: none !important;
      background-image: none;
        span {
          background-color: $brown-color !important;
          background-image: none;
          border: none !important;
        }
    }
}
