:root {
  --last-color: #BF9270;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map {
  background: url(https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/-120.9503,37.7326,11.81,0/300x200?access_token=pk.eyJ1IjoiYWxleGFuZHJlYzYiLCJhIjoiY2wwbDNyZHdxMHFwdjNqcXR6MGxzb3docSJ9.LK74PUnXBkYb9VTV8QM8PA);
  background-size:cover ;
  width: 100%;
  height: 30vh;
}

.cards-bakery {
    ul {
      list-style: none;
      padding: 0;
    }

    ul a {
      text-decoration: none;
      color: black;
    }


  }

.card-bakery {
  position: relative;
  margin: 1px 41px 27px 33px;
  padding-bottom: 43px;
  box-shadow: 5px 3px 10px var(--last-color);
  border-radius: 28px 28px 4px 4px;
  height: 250px;
  padding: 0px;

  .name {
    font-size: 20px;
    font-weight: 650;

    li {
      padding-top: 20px;
    }
  }

  .street {
    font-size: 14px;
    font-weight: lighter;
    opacity: 0.8;
  }
}

.img-bakery {
  height: 150px;
  img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;

  }
}

// Card for accept payment // Stripe (Create charge)
.card-stripe {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
    .content-stripe {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 90%;
      border: 1px solid #fff;
      border-radius: 15px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      position: relative;

      &::before {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .create-check {
        z-index: 888;
      }
    }
}
// Animation ball
.holder:before,
.holder:after {
  animation: orbit 5s linear infinite;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: '';
  height: 150px;
  position: absolute;
  width: 150px;
}

.holder:before {
  animation-delay: 2.5s;
  background: #ffe897;
  background: -moz-radial-gradient(top right, #ffe897, #f98a05);
  background: radial-gradient(to bottom left, #ffe897, #f98a05);
  background: -webkit-radial-gradient(top right, #ffe897, #f98a05);
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
