.create-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ion-icon {
    font-size: 120px;
    color: #BF9270;
    margin-bottom: 18px;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;

    #number-order {
      color: $brown-color;
      font-weight: 900;
      text-decoration: dotted;
    }
  }

  .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    p {
      font-size: 25px;
    }

    img {
      width: 60%;
      height: auto;
    }
  }

  .button-backhome {
    background: $brown-color;
    font-size: 20px;
    // padding: 23px 72px;
    padding: 23px 42px;
    border-radius: 100px;
    margin-top: 71px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
