.bottom_navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: white;
  z-index: 999;
  border-top: 1px solid $primary-color;
  border-radius: 8px 8px 0 0;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    &:active {
      color: red;
    }

    li a {
      color: rgba(66, 66, 66, 0.512);
      font-size: 26px;
      // transition: all .3s;

      &:hover {
        // transform: scale(1.7);
      }
    }
  }
}

.button-selec {
  transition: all 0.7s;
  transform: scale(1.7);
  color: #000;

}
