// La map
#mapi {
  width: 100%;
  height: 100%;
  padding: 40%;
}

section {
  height: 80vh;
  #map {
    height: 100%;
    width: 100%;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
    }
  }
}

#btn-home {

  .display-bakery {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      background: linear-gradient(180deg, rgba(222,199,182,1) 0%, rgba(191,146,112,1) 100%);
      padding: 16px 32px;
      font-size: 20px;
      border-radius: 8px;
      text-transform: uppercase;

      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}



// .btn-grad {background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%)}
// .btn-grad {
//    margin: 10px;
//    padding: 15px 45px;
//    text-align: center;
//    text-transform: uppercase;
//    transition: 0.5s;
//    background-size: 200% auto;
//    color: white;
//    box-shadow: 0 0 20px #eee;
//    border-radius: 10px;
//    display: block;
//  }

//  .btn-grad:hover {
  //  background-position: right center; /* change the direction of the change here */
  //  color: #fff;
  //  text-decoration: none;
//  }
