// La map
#mapi {
  width: 100vw;
  height: 100vh;
  // padding: 40%;
}

section {
  height: 100%;
  width: 100%;
  #map {
    height: 100%;
    width: 100%;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
    }
  }
}
