<section class="create-check">
  <div class="icon-check">
    <ion-icon name="checkbox-outline"></ion-icon>
  </div>

  <h1>Your payment <span id="number-order">#<%= rand(100 .. 1000) %> </span> is accepted !</h1>

  <div class="qr-code">
    <p>Your QR code</p>
    <img src="http://cdn.onlinewebfonts.com/svg/img_462691.png">
  </div>
  <%# IMAGE SVG CHECK DELETE %>
  <%# <div class="logo-check" style="display: flex; justify-content: center;">
    <img src="https://www.mon-taux.com/site2020/wp-content/uploads/2020/04/Feedbin-Icon-check.svg_.png" style="width: 50%; height: 50%;">
  </div> %>

  <div class="button-backhome">
    <a href="/bakeries">Return to the shop</a>
  </div>
</section>
