<div class="holder">
  <div class="card-stripe">
    <div class="content-stripe">
      <section class="create-check">
        <div class="icon-check">
          <ion-icon name="checkbox-outline"></ion-icon>
        </div>

        <h1>Your payment <span id="number-order">#<%= rand(100 .. 1000) %> </span> is accepted !</h1>

        <div class="qr-code">
          <p>Your QR code</p>
          <img src="http://cdn.onlinewebfonts.com/svg/img_462691.png">
        </div>
        <div class="button-backhome">
          <a href="/bakeries">Continue your shopping</a>
        </div>
      </section>
    </div>
  </div>
</div>
